<html>
<head>
    <title>Burzzi Dance - Kursverwaltung</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}"/>
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="{{ url('/') }}" class="brand-logo">Burzzi Dance Kursverwaltung</a>
    </div>
</nav>

<div class="container">
    {% block content %}{{ content|raw }}{% endblock content %}
</div>

<script type="application/javascript">
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

</body>
</html>
