<i class="fa fa-{{ icon }} prefix" aria-hidden="true"></i>
<input id="input_{{ name }}" type="date" name="{{ prefix }}[{{ name }}]" class="datepicker" data-value="{{ value }}">
<label for="input_{{ name }}">{{ label }}</label>
