<i class="fa fa-{{ icon }} prefix" aria-hidden="true"></i>
<select id="input_{{ name }}" name="{{ prefix }}[{{ name }}][]" multiple>
    {% for item in items %}
        <option value="{{ item.id }}">{{ item }}</option>
    {% endfor %}
</select>
<label for="input_{{ name }}">{{ label }}</label>
