{% extends 'layouts/global.twig' %}

{% block content %}
    <div class="row">
        <div class="col s12 m6">
            <div class="card blue-grey">
                <div class="card-content white-text">
                    <span class="card-title"><i class="fa fa-book" aria-hidden="true"></i> Kurse</span>
                    <p>Letzte Kurse:</p>
                    <ul class="collection">
                        {% for course in courses %}
                            <li class="collection-item">
                                <a href="{{ url("course/edit/#{course.id}") }}">{{ course.name }}</a>
                                <a href="{{ url("course/songs/#{course.id}") }}" class="secondary-content">
                                    <i class="fa fa-music" aria-hidden="true"></i>
                                </a>&nbsp;
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-action">
                    <a href="{{ url('courses') }}">Alle anzeigen</a>
                    <a href="{{ url('course/create') }}">Neu anlegen</a>
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card blue-grey">
                <div class="card-content white-text">
                    <span class="card-title"><i class="fa fa-music" aria-hidden="true"></i> Lieder</span>
                    <p>Verwalte deine Burzzi Dance Songs.</p>
                    <ul class="collection">
                        {% for song in songs %}
                            <li class="collection-item">
                                <a href="{{ url("song/edit/#{song.id}") }}">
                                    {{ song.artist }} - {{ song.title }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-action">
                    <a href="{{ url('songs') }}">Alle anzeigen</a>
                    <a href="{{ url('song/create') }}">Neu anlegen</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
